<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.union.mapper.TeacherMapper">
<!--    用于学生N+1查询ref:StudentMapper-->
    <select id="selById" parameterType="int" resultType="teacher">
        select * from teacher where id = #{0}
    </select>

<!--    查询老师及其学生（N+1方式）-->
    <resultMap id="teaMap" type="teacher">
        <collection property="students" column="id" select="com.zw.union.mapper.StudentMapper.stuByTid"></collection>
    </resultMap>
    <select id="teachersN" resultMap="teaMap">
        select * from teacher
    </select>

    <!--    查询老师及其学生（联合查询方式）-->
    <resultMap id="teaMapU" type="teacher">
        <id property="id" column="tid"></id>
        <result property="name" column="tname"></result>
        <result property="subject" column="subject"></result>
        <collection property="students" ofType="student">
            <id property="id" column="sid"></id>
            <result property="name" column="sname"></result>
            <result property="age" column="sage"></result>
            <result property="tid" column="tid"></result>
        </collection>
    </resultMap>
    <select id="teachersU" resultMap="teaMapU">
        select t.id tid,t.name tname,t.subject,s.id sid,s.name sname,s.age sage from teacher t left outer join student s on t.id = s.tid
    </select>
</mapper>